<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <simplepayment>
                <active>1</active>
                <title>Simple Payment Method</title>
                <order_status>pending_payment</order_status>
                <model>OmniPro\SimplePaymentMethod\Model\SimplePaymentMethod</model>
                <payment_action>authorize</payment_action>
            </simplepayment>
        </payment>
    </default>
</config>